/*CUSTOM CSS*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*HEADER CSS*/
.title {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 19861107;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #333;
    text-shadow: 0 1px 2px 2px #FFF;
    background: #FEFEFE;
    box-shadow: 0 4px 2px 0 #666;
}
.title img {
    height: 100%;
    margin: 1%;
}

/*SCROLL PAGE MAIN CSS*/
.scroll_page {
    position: absolute;
    top: 0;
    z-index: 19861106;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroll_page .page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #FFF;
    overflow: hidden;
}
/* Page specific */
.scroll_page .first {
    background: #26A8B8;
}
.scroll_page .second {
    background: #0C616B;
}
.scroll_page .third {
    background-image: url("../images/Wristbands.jpg");
    background-size: 100%;
}
.scroll_page .fourth {
    background-image: url("../images/Bags.jpg");
    background-size: 100%;
}
.scroll_page .fifth {
    background-image: url("../images/Snacks.jpg");
    background-size: 100%;
}
/* Content */
.scroll_page .page .content {
    width: 100%;
    margin: 10% auto;
    background: #FEFEFE;
    border: 1rem solid #058743;
    box-shadow: 0 0 2rem 1rem #00d062;
    padding: 2rem 1rem 2rem 1rem;
    color: #333;
    display: none;
}
.fine-print {
    font-size: 0.5rem;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.snack {
    max-width: 50%;
}
/* Specific content */
#WhatsAppQR {
    max-width: 20%;
    float: right;
    margin-right: 5%;
}
#DriveQR {
    max-width: 30%;
    float: right;
    margin-right: 5%;
}
#Congregation {
    max-width: 50%;
}
#Tile {
    max-width: 30%;
    float: right;
}

/* Control elements */
.scroll_page .page .control {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    bottom: 0;
    margin: 1% 0;
}
.scroll_page .page .control a {
    position: absolute;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #999;
    background: #FFF;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    opacity: 0.2;
}
.scroll_page .page .control a:hover {
    opacity: 1;
}
.scroll_page .page .control a.prev {
    left: 4%;
}
.scroll_page .page .control a.next {
    right: 4%;
}
/*SCROLL PAGE NAV*/
.scroll_page ol.scroll_nav {
    position: fixed;
    width: 2%;
    right: 5%;
    top: 50%;
    z-index: 19861108;
}
.scroll_page ol.scroll_nav li {
    width: 12px;
    height: 12px;
    margin: 10px auto;
    background: none;
    border: 1px solid #DDD;
    border-radius: 12px;
    text-indent: -99px;
    overflow: hidden;
    cursor: pointer;
}
.scroll_page ol.scroll_nav li:hover {
    background: #DDD;
    opacity: 0.5;
}
.scroll_page ol.scroll_nav li.curr_page {
    background: #DDD;
}
