body {
    margin: 0px;
    padding: 0px;
}

#main-page {
    width: 100%;
}

#main-page div {
    display: block;
    width: 100%;
    height: 100vh;
}

#page1 {
    background-color: aquamarine;
}

#page2 {
    background-color: blueviolet;
}

#page3 {
    background-color: darkorange;
}

ul.side-nav {
    position: fixed;
    right: 20px;
    top: 0;
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: center;
    width: 100px;
    z-index: 999;
    padding: 0px;
    margin: 0px;
}

ul.side-nav li {
    color: black;
    list-style: none;
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

 ul.side-nav li:hover {
    cursor: pointer;
    border-color: cadetblue;
}

ul.side-nav li.active {
    border-color: cadetblue;
}
